.footerContent {
  background-color: #ffe3c9;
  padding: 20px;
  text-align: center;
  color: #b2753c;
  font-size: .9rem;
  font-weight: 500;
}

.footerContent .name {
  color: #8f6e4f;
  font-weight: 600;
}
