.nav {
  width: 100%;
  height: 80px;
  padding: 10px 20px;
  background-color: #ffe3c9;
  box-shadow: 0 0 15px 1px #dbae84;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NavOverlay {
  display: none;
  position: fixed;
  width: 100%;
  height: calc(100vh + 80px);
  background-color: rgba(0, 0, 0, 0.19);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 1100;
}

.nav .logo img {
  cursor: pointer;
  width: 100px;
  object-fit: cover;
}

.nav .links ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav .links ul li {
  padding: 3px 0;
  position: relative;
}

.nav .links ul li::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background-color: #bc824c;
  border-radius: 10px;
  transition: 0.4s width;
}

.nav .links ul li:hover::before {
  width: 80%;
}

.nav .links ul li:not(:last-child) {
  margin-right: 10px;
}

.nav .links li a {
  color: #b2753c;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 5px 12px;
  border-radius: 5px;
  transition: 0.4s;
}

.nav .btn {
  outline: none;
  border: none;
  background-color: #b56d28;
  padding: 5px 10px;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.4s;
}

.nav .btn a {
  color: white;
  letter-spacing: 1px;
}

.nav .btn:hover {
  background-color: #995210;
}

.menuIcon {
  position: relative;
  z-index: 2000;
  display: none;
}

@media (width <= 992px) {
  .NavOverlay {
    display: block;
  }
  .links {
    position: absolute;
    z-index: 2001;
    right: 0%;
    top: 80px;
    width: 0%;
    height: calc(100vh - 81px);
    background-color: #b56d28;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    transition: 0.4s;
  }

  .links ul {
    flex-direction: column;
    width: 100%;
    padding: 0rem;
  }

  .links ul li {
    width: 100%;
    margin: 0 !important;
    display: flex;
    align-items: flex-end !important;
    justify-content: flex-end !important;
    margin-bottom: 20px;
    padding: 0 !important;
  }

  .nav .links ul li::before {
    display: none;
  }

  .links ul button {
    display: none;
  }

  .links a {
    color: white !important;
    display: none !important;
    display: block;
    background-color: #7d4a1a;
    width: 150px;
    text-align: right;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 1.08rem;
    font-weight: 600;
    transition: background 0.3s;
  }

  .links a:hover {
    background-color: #995210;
  }

  .nav .btn {
    outline: none;
    border: none;
    padding: 5px 10px;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.4s;
    background-color: #7d4a1a;
  }

  .nav .btn a {
    color: white;
    background-color: transparent;
    letter-spacing: 1px;
    width: fit-content;
  }

  .nav .btn:hover {
    background-color: #995210;
  }

  .menuIcon {
    display: block;
  }

  .menuIcon button {
    outline: none;
    border: none;
    background-color: #b56d28;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }

  .links.openLinks {
    width: 50% !important;
  }

  .links.openLinks ul {
    padding: 1rem;
  }

  .links.openLinks ul li {
    padding: 6px 0 !important;
    margin: 10px 0 !important;
  }

  .links.openLinks ul a {
    display: block !important;
  }

  .links.openLinks ul button {
    display: block !important;
  }
}

@media (width <= 500px) {
  .links {
    position: absolute;
    z-index: 2001;
    right: 0;
    top: 80px;
    width: 0% !important;
    height: calc(100vh - 141px);
    background-color: #b56d28;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
  }

  .links.openLinks {
    width: 70% !important;
  }
}
