.nav{
    width: 100%;
    height: 80px;
    padding: 10px 20px;
    background-color: #efccac;
    box-shadow: 0 0 15px 1px #8f6e4f;
    display: flex;
    justify-content: space-between ;
    align-items: center;
}

.nav .logo img{
    cursor: pointer;
    width: 100px;
    object-fit:cover ;
}

.nav .links ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav .links ul li {
    padding: 5px 0;
    position: relative;
}

.nav .links ul li::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background-color: #69421e;
    transition: .4s width;
}

.nav .links ul li:hover::before{
    width: 80%;
}

.nav .links ul li:not(:last-child){
    margin-right: 10px;
}

.nav .links li a{
    color: #69421e;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .5px;
    padding: 5px 15px;
    border-radius: 5px;
    transition: .4s;
}