@font-face {
  font-family: 'WinkySans';
  src: url('./assets/fonts/WinkySans-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF, U+1E00-1EFF;
}

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  font-family: "WinkySans";
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

li a.active {
  font-size: 1.2rem !important;
    color: #483019 !important;
}

header{
  position: sticky;
  top: 0;
  z-index: 1000;
}

footer{
  width: 100%;
    height: 60px;
  position: sticky;
  bottom: 0;
  z-index: 1000;
}

/* start sweet alert */
/* src/components/sweetAlert.css */

.custom-swal-popup {
  border-radius: 16px;
  padding: 25px;
  background: #ffffff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.3s ease;
}

.custom-swal-title {
  font-size: 22px;
  color: #222;
  font-weight: bold;
  margin-bottom: 8px;
}

.custom-swal-text {
  font-size: 16px;
  color: #555;
  margin-bottom: 15px;
}

.custom-swal-confirm,
.custom-swal-cancel {
  border: none;
  outline: none;
  padding: 10px 22px;
  margin: 0 6px;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.25s ease, transform 0.1s ease;
}

.custom-swal-confirm {
  background-color: #22c55e;
  color: white;
}

.custom-swal-confirm:hover {
  background-color: #16a34a;
  transform: scale(1.05);
}

.custom-swal-cancel {
  background-color: #ef4444;
  color: white;
}

.custom-swal-cancel:hover {
  background-color: #dc2626;
  transform: scale(1.05);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* end sweet alert */

/* start error message */
.error-message {
  color: #c0392b;
  background: #fff6f4;
  border-radius: 7px;
  font-size: 0.7rem;
  font-weight: 600;
  margin: 5px 0 0 0;
  padding: 6px 10px;
  border: 1px solid #f7d7c3;
  text-align: justify;
  box-shadow: 0 2px 8px rgba(192, 57, 43, 0.07);
  animation: fadeInError 0.5s;
}


@keyframes fadeInError {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* end error message */